## Validate myReduce Function

Let us validate `myReduce` Function.
* Compute order revenue for a given order id using order_items.
* We will use `myFilter` to filter for the order items for the given order id.
* Use `myMap` to extract `order_item_subtotal`. We will also convert data type of `order_item_subtotal` to `float`.
* We can now compute `order_revenue` using `myReduce` Function.

In [1]:
%run 02_develop_myFilter_function.ipynb

In [2]:
%run 04_develop_myMap_function.ipynb

In [3]:
%run 06_develop_myReduce_function.ipynb

In [ ]:
myFilter

In [ ]:
myMap

In [ ]:
myReduce

In [9]:
order_items_path = "../../../data/retail_db/order_items/part-00000"
order_items = open(order_items_path). \
    read(). \
    splitlines()

In [10]:
order_items[:10]

['1,1,957,1,299.98,299.98',
 '2,2,1073,1,199.99,199.99',
 '3,2,502,5,250.0,50.0',
 '4,2,403,1,129.99,129.99',
 '5,4,897,2,49.98,24.99',
 '6,4,365,5,299.95,59.99',
 '7,4,502,3,150.0,50.0',
 '8,4,1014,4,199.92,49.98',
 '9,5,957,1,299.98,299.98',
 '10,5,365,5,299.95,59.99']

In [11]:
order_item = '2,2,1073,1,199.99,199.99'
int(order_item.split(',')[1]) == 2

True

In [29]:
order_items_filtered = myFilter(
    order_items,
    lambda order_item: int(order_item.split(',')[1]) <= 5
)

In [30]:
len(order_items_filtered)

13

In [31]:
order_item = '2,2,1073,1,199.99,199.99'
float(order_item.split(',')[4])

199.99

In [32]:
order_item_subtotals = myMap(
    order_items_filtered,
    lambda order_item: float(order_item.split(',')[4])
)

In [33]:
order_item_subtotals

[299.98,
 199.99,
 250.0,
 129.99,
 49.98,
 299.95,
 150.0,
 199.92,
 299.98,
 299.95,
 99.96,
 299.98,
 129.99]

In [ ]:
sum(order_item_subtotals)

In [ ]:
myReduce(order_item_subtotals, lambda t, e: t + e)

In [ ]:
myReduce(order_item_subtotals, lambda t, e: min(t, e))