## Validate myReduceByKey Function

Let us perform few tasks to validate myReduceKey Function.

In [1]:
%run 04_develop_myMap_function.ipynb

In [2]:
%run 08_develop_myReduceByKey_function.ipynb

* Use the function to get the count by date from orders.

In [3]:
orders_path = "../../../data/retail_db/orders/part-00000"

In [4]:
orders = open(orders_path). \
    read(). \
    splitlines()

In [ ]:
orders[:10]

In [5]:
orders_map = myMap(orders, 
                   lambda order: (order.split(',')[1], 1)
                  )
orders_map[:10]

[('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1),
 ('2013-07-25 00:00:00.0', 1)]

In [6]:
order_count_by_date = myReduceByKey(orders_map, 
                                    lambda t, e: t + e
                                   )

In [7]:
order_count_by_date[:10]

[('2013-07-25 00:00:00.0', 143),
 ('2013-07-26 00:00:00.0', 269),
 ('2013-07-27 00:00:00.0', 202),
 ('2013-07-28 00:00:00.0', 187),
 ('2013-07-29 00:00:00.0', 253),
 ('2013-07-30 00:00:00.0', 227),
 ('2013-07-31 00:00:00.0', 252),
 ('2013-08-01 00:00:00.0', 246),
 ('2013-08-02 00:00:00.0', 224),
 ('2013-08-03 00:00:00.0', 183)]

In [ ]:
len(orders)

In [8]:
len(order_count_by_date)

364

* Use the function to get the revenue for each order id.

In [10]:
order_items_path = "../../../data/retail_db/order_items/part-00000"
order_items = open(order_items_path). \
    read(). \
    splitlines()

In [ ]:
order_items[:10]

In [11]:
order_items_map = myMap(order_items,
                        lambda order_item: (int(order_item.split(',')[1]),
                                            float(order_item.split(',')[4])
                                           )
                       )

In [ ]:
order_items_map[:10]

In [12]:
revenue_per_order = myReduceByKey(order_items_map,
                                  lambda t, e: round(t + e, 2)
                                 )

In [13]:
revenue_per_order[:10]

[(1, 299.98),
 (2, 579.98),
 (4, 699.85),
 (5, 1129.86),
 (7, 579.92),
 (8, 729.84),
 (9, 599.96),
 (10, 651.92),
 (11, 919.79),
 (12, 1299.87)]

In [14]:
myReduceByKey(order_items_map,
              lambda t, e: min(t, e)
             )[:10]

[(1, 299.98),
 (2, 129.99),
 (4, 49.98),
 (5, 99.96),
 (7, 79.95),
 (8, 50.0),
 (9, 199.98),
 (10, 21.99),
 (11, 49.98),
 (12, 100.0)]

* Use the function to get the revenue as well as the number of items for each order id.

In [ ]:
order_items[:10]

In [ ]:
order_items_map = myMap(order_items,
                        lambda order_item: (int(order_item.split(',')[1]),
                                            (float(order_item.split(',')[4]), 1)
                                           )
                       )

In [ ]:
order_items_map[:10]

In [ ]:
[2, [(199.99, 1), (250.0, 1), (129.99, 1)]]

In [ ]:
t1 = (199.99, 1)
t2 = (250.0, 1)
(t1[0] + t2[0], t1[1] + t2[1])

In [ ]:
myReduceByKey(order_items_map,
              lambda t, e: (round(t[0] + e[0], 2), t[1] + e[1])
             )[:10]