## Performing Total Aggregations

Let us understand how to perform total or global aggregations using Pandas.

In [1]:
%run 06_csv_to_pandas_data_frame.ipynb

* Getting number of records in the Data Frame.

In [2]:
orders.shape

(10, 4)

In [ ]:
orders.shape[0]

In [3]:
order_items.shape[0]

172198

* Getting number of non np.NaN values in each attribute in a Data Frame

In [4]:
orders.count()

order_id             10
order_date           10
order_customer_id    10
order_status         10
dtype: int64

In [ ]:
type(orders.count())

In [ ]:
orders.count()['order_id']

In [ ]:
orders.order_id.count()

In [ ]:
orders['order_id'].count()

* Getting basic statistics of numeric fields of a Data Frame

In [5]:
orders.describe()

       order_id  order_customer_id
count  10.00000           10.00000
mean    5.50000         6998.70000
std     3.02765         3961.01794
min     1.00000          256.00000
25%     3.25000         4809.50000
50%     5.50000         6393.50000
75%     7.75000        10695.25000
max    10.00000        12111.00000

* Get revenue for order id 2 from order_items

In [6]:
order_items[order_items.order_item_order_id == 2]

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99

In [ ]:
order_items[order_items.order_item_order_id == 2].order_item_subtotal

In [ ]:
order_items[order_items.order_item_order_id == 2].order_item_subtotal.sum()

In [ ]:
order_items[order_items.order_item_order_id == 2]['order_item_subtotal'].sum()

### Task 1
Use orders and get total number of records for a given month (201401).

In [ ]:
orders

In [ ]:
orders.order_date

In [7]:
orders['order_date'].str.slice, 7)

0    2013-07
1    2013-07
2    2013-07
3    2013-07
4    2013-07
5    2013-07
6    2013-07
7    2013-07
8    2013-07
9    2013-07
Name: order_date, dtype: object

In [ ]:
orders['order_date'].str.slice(0, 7).str.replace('-', '').astype('int64')

In [ ]:
orders['order_date'].str.slice(0, 7).str.replace('-', '').astype('int64') == 201401

In [ ]:
orders[orders['order_date'].str.slice(0, 7).str.replace('-', '').astype('int64') == 201401]

In [ ]:
orders[orders['order_date'].str.slice(0, 7).str.replace('-', '').astype('int64') == 201401]['order_id'].count()

### Task 2

Use order_items data set and compute total revenue generated for a given product_id.

In [ ]:
order_items

In [ ]:
order_items.query('order_item_product_id == 502')

In [ ]:
order_items.query('order_item_product_id == 502')['order_item_subtotal'].sum()

In [ ]:
order_items.query('order_item_product_id == 502').order_item_subtotal.sum()

### Task 3

Use order_items data set and get total number of items sold as well as total revenue generated for a given product_id.

In [ ]:
order_items

In [ ]:
order_items_for_product_id = order_items.query('order_item_product_id == 502')
order_items_for_product_id

In [ ]:
order_items_for_product_id[['order_item_quantity', 'order_item_subtotal']]

In [ ]:
order_items_for_product_id[['order_item_quantity', 'order_item_subtotal']].sum()

In [ ]:
tuple(order_items_for_product_id[['order_item_quantity', 'order_item_subtotal']].sum())

In [ ]:
dict(order_items_for_product_id[['order_item_quantity', 'order_item_subtotal']].sum())

### Task 4

Create a collection with sales and commission percentage. Using that collection compute total commission amount. If the commission percent is None or not present, treat it as 0.
* Each element in the collection should be a tuple.
* First element is the sales amount and second element is commission percentage.
* Commission for each sale can be computed by multiplying commission percentage with sales (make sure to divide commission percentage by 100).
* Some of the records does not have commission percentage, in that case commission amount for that sale shall be 0

In [ ]:
transactions = [(376.0, 8),
(548.23, 14),
(107.93, 8),
(838.22, 14),
(846.85, 21),
(234.84,),
(850.2, 21),
(992.2, 21),
(267.01,),
(958.91, 21),
(412.59,),
(283.14,),
(350.01, 14),
(226.95,),
(132.7, 14)]

In [ ]:
sales = pd.DataFrame(transactions, columns=['sale_amount', 'commission_pct'])

In [ ]:
sales

In [ ]:
sales_filled = sales.fillna(0.0)
sales_filled

In [ ]:
(sales_filled['sale_amount'] * (sales_filled['commission_pct'] / 100))

In [ ]:
(sales_filled['sale_amount'] * (sales_filled['commission_pct'] / 100)).sum()

In [ ]:
(sales_filled['sale_amount'] * (sales_filled['commission_pct'] / 100)).sum().round(2)